body {
    font-family: Arial, Helvetica, serif;
    margin: 20px;
}

p {
    text-align: left;
}

header {

    font-size: 40px;
    text-align: center;

}

h1 {
    font-family: fantasy;
    text-align: center;
    color: blue;
}